body {
    background-color: rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-wrapperAdd {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 95vh;
    background-color: #000629;
    backdrop-filter: blur(5px);
    gap: -30px;
}

.HeaderPost {
    display: flex;
    width: 440px;
    height: 50px;
    background-color: #000629;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: solid 1px #3777FF;
}

.formWrapperAdd {
    background-color: var(--Second, #FFE156);
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 440px;
    padding-top: 40px;
    padding-bottom: 15px;
    
}

.inputWrapperAdd #post_image {
    width: 430px;
    height: 420px;
    background-color: #000629;
    display: flex;
}

.Slogo, .SearchLogo, .BellFillLogo {
    display: flex;
    width: 30px;
    padding: 10px;
  }

  .NotifAndMessage {
    display: flex;
    flex-direction: row;
  }

  .FooterPost {
    display: flex;
    width: 440px;
    height: 50px;
    background-color: #000629;
    justify-content: space-between;
    align-items: center;
    bottom: 2vh;
    position: absolute;
    border-top: solid 1px #3777FF;
  }
  .HouseDoorLogo, .IconUserLogo, .AddButtonLogo, .ArrowButtonLogo, .SettingButtonLogo{
    display: flex;
    width: 30px;
    padding-left: 30px;
  }

  .body-wrapperAdd input,textarea {
    align-items: center;
    border: none;
    height: 30px;
    display: flex;
    text-align: center;
    width: 100%;
}
  .body-wrapperAdd label {
    color:  #3777FF;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
}