body {
  background-color: rgb(79, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyWrapperLogin {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  background: conic-gradient(from 180deg at 50% 40%, #000629 89.80607092380524deg, #3777FF 182.78623580932617deg, #000629 270.24916648864746deg, #000629 357.71209716796875deg);
  backdrop-filter: blur(5px);
}
.bodyWrapperLogin label {
  color: #3777FF;
  align-items: flex-start;
}
.bodyWrapperLogin input {
  background-color: var(--Second, #FFE156);;
  align-items: flex-start;
  border: none;
  height: 30px;
  display: flex;
  text-align: center;
}
.logoScrollyLogin {
  display: flex;
  position: relative;
  width: 40%;
}
.typoScrollyLogin {
  display: flex;
  top: -20px;
  position: relative;
  width: 40%;
}
.labelWrapperLogin {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  width: 50%;
  gap: 5px;
  padding: 10px;
}
.emailLabel, .passwordLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.checkboxLogin{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.ConnexionBtnLogin {
  border-radius: 50px;
  border: 2px solid #FFF;
  background: var(--Primary, #3777FF);
  padding: 10px 67px;
  border: none;
  text-decoration: none;
  color: #D9D9D9;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
.ConnexionBtnLogin:hover {
  cursor: pointer;
}
.logoutBtnLogin {
  border-radius: 50px;
  border: 2px solid var(--Primary, #3777FF);
  background: var(--Third, #000629);
  padding: 10px 80px;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-top: 20px;
  
}
.logoutBtnLogin a {
  text-decoration: none;
  color: var(--Primary, #3777FF);
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
