{% extends 'base.html.twig' %}

{% block title %}Scrolly{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur Scrolly</h1>

    <p>Scrolly est une application de gestion de posts.</p>
    
    {%for post in posts%}
        <p>{{ post.user.pseudo }}</p>
        <p>{{ post.title }}</p>
        <p>{{ post.description }}</p>
    {% endfor %}
</div>
{% endblock %}
